<html>
    <head>
        <title>People List</title>
    </head>
    <body>
        <h1 class="text-3xl font-bold mb-10">People List</h1>
        <a href="/people/create">Create New Person</a>
        <table border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Mobile</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% people.forEach(person =>{ %>
                    <tr>
                        <td><%= person.Name %></td>
                        <td><%= person.Age %></td>
                        <td><%= person.Gender %></td>
                        <td><%= person.Mobile %></td>
                        <td>
                            <a href="/people/edit/<%= person._id %>">Edit</a>
                            <a href="/people/delete/<%= person._id %>">Delete</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </body>
</html>